In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [ ]:
df = pd.read_csv("Corona.csv")

In [ ]:
#Displaying the first 5 rows of the dataset
df.head(5)

   Unnamed: 0 Province/State Country/Region  ... Recovered  Latitude  Longitude
0           0          Hubei          China  ...     56003   30.9756   112.2707
1           1            NaN          Italy  ...      2941   41.8719    12.5674
2           2            NaN           Iran  ...      5389   32.4279    53.6880
3           3            NaN          Spain  ...      1028   40.4637    -3.7492
4           4            NaN        Germany  ...        67   51.1657    10.4515

[5 rows x 9 columns]

In [ ]:
#Displaying the information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      276 non-null    int64
 1   Province/State  126 non-null    object
 2   Country/Region  276 non-null    object
 3   Last Update     276 non-null    object
 4   Confirmed       276 non-null    int64
 5   Deaths          276 non-null    int64
 6   Recovered       276 non-null    int64
 7   Latitude        276 non-null    float64
 8   Longitude       276 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 19.5+ KB

In [ ]:
df.dtypes

Unnamed: 0          int64
Province/State     object
Country/Region     object
Last Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
Latitude          float64
Longitude         float64
dtype: object

In [ ]:
df.shape

(276, 9)

In [ ]:
df.size

2484

In [ ]:
df.columns

Index(['Unnamed: 0', 'Province/State', 'Country/Region', 'Last Update',
       'Confirmed', 'Deaths', 'Recovered', 'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df.values

array([[0, 'Hubei', 'China', ..., 56003, 30.9756, 112.2707],
       [1, nan, 'Italy', ..., 2941, 41.8719, 12.5674],
       [2, nan, 'Iran', ..., 5389, 32.4279, 53.688],
       ...,
       [273, nan, 'Puerto Rico', ..., 0, 18.2, -66.5],
       [274, nan, 'Republic of the Congo', ..., 0, -1.44, 15.556],
       [275, nan, 'occupied Palestinian territory', ..., 0, 31.9522,
        35.2332]], dtype=object)

In [ ]:
#Checking for missing values
df.isnull()

     Unnamed: 0  Province/State  Country/Region  ...  Recovered  Latitude  Longitude
0         False           False           False  ...      False     False      False
1         False            True           False  ...      False     False      False
2         False            True           False  ...      False     False      False
3         False            True           False  ...      False     False      False
4         False            True           False  ...      False     False      False
..          ...             ...             ...  ...        ...       ...        ...
271       False            True           False  ...      False     False      False
272       False            True           False  ...      False     False      False
273       False            True           False  ...      False     False      False
274       False            True           False  ...      False     False      False
275       False            True           False  ...      False     False      False

[276 rows x 9 columns]

In [ ]:
df.fillna(0)

     Unnamed: 0 Province/State  ... Latitude Longitude
0             0          Hubei  ...  30.9756  112.2707
1             1              0  ...  41.8719   12.5674
2             2              0  ...  32.4279   53.6880
3             3              0  ...  40.4637   -3.7492
4             4              0  ...  51.1657   10.4515
..          ...            ...  ...      ...       ...
271         271              0  ...  49.4500   -2.5800
272         272              0  ...  49.1900   -2.1100
273         273              0  ...  18.2000  -66.5000
274         274              0  ...  -1.4400   15.5560
275         275              0  ...  31.9522   35.2332

[276 rows x 9 columns]

In [ ]:
#Adding ActiveCases column to dataframe
df.insert(9,"Active_Cases","0")

In [ ]:
df.head()

   Unnamed: 0 Province/State Country/Region  ... Longitude  Active_Cases  ActiveCases
0           0          Hubei          China  ...  112.2707             0          Any
1           1            NaN          Italy  ...   12.5674             0          Any
2           2            NaN           Iran  ...   53.6880             0          Any
3           3            NaN          Spain  ...   -3.7492             0          Any
4           4            NaN        Germany  ...   10.4515             0          Any

[5 rows x 11 columns]

In [ ]:
df.get(["Confirmed","Deaths","Recovered","ActiveCases"])

     Confirmed  Deaths  Recovered ActiveCases
0        67799    3111      56003         Any
1        31506    2503       2941         Any
2        16169     988       5389         Any
3        11748     533       1028         Any
4         9257      24         67         Any
..         ...     ...        ...         ...
271          0       0          0         Any
272          0       0          0         Any
273          0       0          0         Any
274          0       0          0         Any
275          0       0          0         Any

[276 rows x 4 columns]

In [ ]:
#Active cases country wise
df['Active'] = df['Confirmed'] - df['Deaths'] - df['Recovered']
result = df.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()
print(result)

                     Country/Region  Confirmed  Deaths  Recovered  Active
0                       Afghanistan         22       0          1      21
1                           Albania         55       1          0      54
2                           Algeria         60       4         12      44
3                           Andorra         39       0          1      38
4               Antigua and Barbuda          1       0          0       1
..                              ...        ...     ...        ...     ...
154                         Uruguay         29       0          0      29
155                      Uzbekistan         10       0          0      10
156                       Venezuela         33       0          0      33
157                         Vietnam         66       0         16      50
158  occupied Palestinian territory          0       0          0       0

[159 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
#Active cases country and province wise
data = df.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].max()
print(data)

                                             Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      Australian Capital Territory          2       0          0
               From Diamond Princess                 0       0          0
               New South Wales                     210       4          4
               Northern Territory                    1       0          0
               Queensland                           78       0          8
...                                                ...     ...        ...
US             Wyoming                              11       0          0
United Kingdom Cayman Islands                        1       1          0
               Channel Islands                       6       0          0
               Gibraltar                             3       0          1
               United Kingdom                     1950      55         52

[126 rows x 3 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
#Active cases China province's wise
china = df[df['Country/Region']=='China']
china = china[['Province/State', 'Confirmed', 'Deaths', 'Recovered']]
result = china.sort_values(by='Confirmed', ascending=False)
result = result.reset_index(drop=True)
print(result)

    Province/State  Confirmed  Deaths  Recovered
0            Hubei      67799    3111      56003
1        Guangdong       1364       8       1307
2            Henan       1273      22       1250
3         Zhejiang       1232       1       1216
4            Hunan       1018       4       1014
5            Anhui        990       6        984
6          Jiangxi        935       1        934
7         Shandong        761       7        746
8          Jiangsu        631       0        631
9        Chongqing        576       6        570
10         Sichuan        540       3        520
11    Heilongjiang        482      13        456
12         Beijing        456       8        369
13        Shanghai        358       3        325
14           Hebei        318       6        310
15          Fujian        296       1        295
16         Guangxi        253       2        248
17         Shaanxi        246       3        236
18          Yunnan        176       2        172
19          Hainan        168       6        161
20       Hong Kong        162       4         88
21         Guizhou        147       2        144
22         Tianjin        136       3        133
23           Gansu        133       2         91
24          Shanxi        133       0        133
25        Liaoning        125       1        120
26           Jilin         93       1         92
27        Xinjiang         76       3         73
28  Inner Mongolia         75       1         73
29         Ningxia         75       0         75
30         Qinghai         18       0         18
31           Macau         12       0         10
32           Tibet          1       0          1

In [ ]:
#Top 10 countries of corona virus
result1 = df.groupby('Country/Region').max().sort_values(by='Confirmed', ascending=False)[:10]
pd.set_option('display.max_column', None)
print(result1)

                Unnamed: 0  Province/State          Last Update  Confirmed  \
Country/Region
China                  247        Zhejiang  2020-03-17T12:13:13      67799
Italy                    1             NaN  2020-03-17T18:33:02      31506
Iran                     2             NaN  2020-03-17T15:13:09      16169
Spain                    3             NaN  2020-03-17T20:53:02      11748
Germany                  4             NaN  2020-03-17T18:53:02       9257
Korea, South             5             NaN  2020-03-17T10:33:03       8320
France                 251       St Martin  2020-03-17T19:13:08       7652
Switzerland              7             NaN  2020-03-17T16:33:04       2700
United Kingdom         269  United Kingdom  2020-03-17T15:13:09       1950
US                     268         Wyoming  2020-03-17T23:53:03       1706

                Deaths  Recovered  Latitude  Longitude Active_Cases  \
Country/Region
China             3111      56003   47.8620   127.7615            0
Italy             2503       2941   41.8719    12.5674            0
Iran               988       5389   32.4279    53.6880            0
Spain              533       1028   40.4637    -3.7492            0
Germany             24         67   51.1657    10.4515            0
Korea, South        81       1407   35.9078   127.7669            0
France             148         12   46.2276    55.2471            0
Switzerland         27          4   46.8182     8.2275            0
United Kingdom      55         52   55.3781    -2.3644            0
US                  55          6   61.3707   144.7937            0

               ActiveCases  Active
Country/Region
China                  Any    8685
Italy                  Any   26062
Iran                   Any    9792
Spain                  Any   10187
Germany                Any    9166
Korea, South           Any    6832
France                 Any    7492
Switzerland            Any    2669
United Kingdom         Any    1843
US                     Any    1693

In [ ]:
#List of countrie that recovered
data = df.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()
result = data[data['Confirmed']==data['Recovered']]
result = result[['Country/Region', 'Confirmed', 'Recovered']]
result = result.sort_values('Confirmed', ascending=False)
result = result[result['Confirmed']>0]
result = result.reset_index(drop=True)
print(result)

  Country/Region  Confirmed  Recovered
0          Nepal          1          1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.